div
  div(ng-show="StateIsLogin()")
    #login-box.form-box
      .header Sign In
      form
        .body.bg-gray
          p.text-center.text-danger(ng-show="error.length")
            | Seems that something went wrong: {{error}}
          .form-group(ng-class="{'has-error':error.length}")
            input.form-control(type='text', ng-model='ident.login', placeholder='Login')
          .form-group(ng-class="{'has-error':error.length}")
            input.form-control(type='password', ng-model='ident.pass', placeholder='Password')
          .form-group
            input(type='checkbox', name='remember_me')
            |  Remember me
        .footer
          button.btn.bg-olive.btn-block(type='submit', ng-click="Auth()") Sign me in
          //- p
          //-   a(href='#') I forgot my password
          p.text-right
            a(href="#", ng-click="Toggle()")
              i.fa.fa-chevron-right
            | 
            a(href='#', ng-click="Toggle()") Register a new membership
      .margin.text-center
        span Sign in using social networks
        br
        button.btn.bg-light-blue.btn-circle
          i.fa.fa-facebook
        button.btn.bg-aqua.btn-circle
          i.fa.fa-twitter
        button.btn.bg-red.btn-circle
          i.fa.fa-google-plus

  div(ng-show="StateIsSignUp()")
    #login-box.form-box
      .header Register New Membership
      form
        .body.bg-gray
          .form-group
            input.form-control(type='text', ng-model='ident.login', placeholder='Full name')
          .form-group
            input.form-control(type='password', ng-model='ident.pass', placeholder='Password')
          .form-group
            input.form-control(type='password', ng-model='ident.pass2', placeholder='Retype password')
        .footer
          button.btn.bg-olive.btn-block(ng-click="Signup()") Sign me up
          p.text-left
            a(href="#", ng-click="Toggle()")
              i.fa.fa-chevron-left
            | 
            a(href="", ng-click="Toggle()") I already have a membership
      .margin.text-center
        span Register using social networks
        br
        button.btn.bg-light-blue.btn-circle
          i.fa.fa-facebook
        button.btn.bg-aqua.btn-circle
          i.fa.fa-twitter
        button.btn.bg-red.btn-circle
          i.fa.fa-google-plus
