div
  .row
    .col-xs-3
      .input-group.input-group-sm
        input(type="text", ng-model="newDirName", placeholder="New Folder",class="form-control")
        span(class="input-group-btn")
          button(ng-click="createDir()", class="btn btn-info btn-flat") Go
    .col-xs-3
      input(type="file", uploader="uploader", nv-file-select="", options="{formData: [{parent_id: directoryService.current.id, client_id: userService.current.id}]}")

  div
    .box
    .box-header
      h3.box-title {{path}}
      // /.box-header
    .box-body.no-padding
      table.table.table-condensed
        tr
          th(style='width: 10px') #
          th Name
          th Size
          th Size In Pi
          th Progress
          th(style='width: 40px') StoreLevel
          th(style='width: 40px') IdxStoreLevel
        tr(ng-show="directoryService.current.parent_id")
          td
          td
            a(href="", ng-click="parent(directoryService.current.parent_id)")
              | ..
        tr(ng-repeat="dir in directoryService.current.child | orderBy:'name'")
          td {{dir.id}}.
          td(ng-if="dir.file")
            a(href="/api/1/files/{{dir.id}}" ng-if="dir.storeLevel && dir.piSize")
              | {{dir.name}}
            div(ng-if="!dir.storeLevel || !dir.piSize")
              | {{dir.name}}
          td(ng-if="!dir.file")
            a(href="", ng-click="enter(dir.id)")
              | {{ dir.name }}/
          td
            spawn(ng-if="dir.file")
              | {{dir.size}}
          td
            spawn(ng-if="dir.file")
              | {{dir.piSize}}
          td
            .progress.xs(ng-if="dir.percentage < 100")
              .progress-bar(ng-class="{'progress-bar-danger': dir.storeLevel === 4, 'progress-bar-yellow': dir.storeLevel === 3, 'progress-bar-green': dir.storeLevel === 2, 'progress-bar-light-blue': dir.storeLevel === 1 }", style='width: {{dir.percentage}}%')
          td
            span.badge(ng-class="{'bg-red': dir.storeLevel === 5, 'bg-yellow': dir.storeLevel === 4, 'bg-green': dir.storeLevel === 3, 'bg-light-blue': dir.storeLevel === 2 }") {{dir.storeLevel}}
          td
            span.badge(ng-class="{'bg-red': dir.idxStoreLevel === 5, 'bg-yellow': dir.idxStoreLevel === 4, 'bg-green': dir.idxStoreLevel === 3, 'bg-light-blue': dir.idxStoreLevel === 2 }") {{dir.idxStoreLevel}}

        tr(ng-show="!directoryService.current.child.length")
          td
          td (Empty)

      div
        | TotalSize : {{directoryService.totalSize}}
        | PiSize : {{directoryService.piSize}}

    //- a(href="", ng-click="parent(directoryService.current.parent_id)", ng-show="directoryService.current.parent_id")
    //-   | ..
    //- div(ng-repeat="dir in directoryService.current.child | orderBy:'name'")
    //-   a(href="", ng-click="enter(dir.id)", ng-if="!dir.file")
    //-     | {{dir.name}}/
    //-   div(ng-if="dir.file")
    //-     div(ng-if="dir.percentage < 100")
    //-       | {{dir.name}} - {{dir.percentage}} %
    //-     a(href="/api/1/files/{{dir.id}}" ng-if="dir.percentage == 100")
    //-       | {{dir.name}}
    //- div(ng-show="!directoryService.current.child.length")
    //-   | (Empty)
